@import '../../styles/main.scss';

.mb {
    margin-bottom: 2rem;
}

.main-title {
    @include text-style-main-title();

    &.name {
        @include text-style-main-title(800);
    }
}

.secondary-main-title {
    @include text-style-secondary-main-title();
    position: relative;
}

.company {
    @include text-style-secondary-main-title(500);
}

.sub-title {
    @include text-style-sub-title();
    display: flex;
}

.secondary-sub-title {
    @include text-style-secondary-sub-title();
}

.box {
    padding: 40px 0;
}

.container {
    &:not(:last-child) {
        margin-bottom: 5rem;
    }
}

.intro {
    margin-bottom: 3rem;

    .intro-title {
        padding: 3rem 0;
    }
    
    .intro-profile {
        width: 300px;
        height: 300px;
        margin-bottom: 4rem;
        border-radius: 50%;

        img {
            width: 100%;
            border-radius: 50%;
        }
    }
    
    .intro-box {
        margin-bottom: 2rem;

        .intro-text {
            font-size: 1.4rem;
            line-height: 2.2rem;
        }
    }
}

.bold {
    font-weight: 600;
}

.bullet {
    position: relative;
    padding-left: 15px;
}

.bullet::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-color: $bullet;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.6rem;
}

.item {
    @include text-style-item();
    margin-bottom: 1rem;

    .bullet {
        margin-bottom: 0.5rem;
    }
}

.additional {
    @include text-style-additional();
}

.experience-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 3rem;

    .count {
        position: relative;
        color: #fff;
        margin-right: 20px;
    }

    .count::before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        background-color: $mint;
        border-radius: 5px;
        font-weight: 700;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

.experience-desc-title {
    position: relative;
    padding-left: 20px;
    margin-bottom: 2rem;
    color: $black;

    &::before {
        content: '';
        display: block;
        width: 2px;
        height: 1.4rem;
        background-color: $black;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.experience-box {
    .desc {
        margin-bottom: 2.5rem;
        line-height: 1.5;
        font-size: 1.1rem;
    }

    .summary {
        h4 { 
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }

        .item {
            margin-bottom: 2.5rem;
        }
    }
}

.quoto {
    position: relative;
    padding-left: 20px;
    margin-bottom: 1.5rem;
}

.quoto::before {
    content: '';
    display: block;
    width: 3px;
    height: calc(100% - 3px);
    background-color: $black;
    position: absolute;
    left: 0;
    top: 1.5px;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::before {
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    background-color: $mint;
    border-radius: 5px;
    position: absolute;
    bottom: 5%;
    z-index: -1;
}

.check {
    position: relative;
    margin-bottom: 1.5rem;
}

.check::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: $mint;
    border-radius: 50%;
    margin-right: 10px;
}

.check::after {
    content: '';
    display: block;
    width: 15px;
    height: 8px;
    position: absolute;
    left: 5px;
    top: 8px;
    transform: rotate(-45deg);
    border: 5px solid $white;
    border-top: none;
    border-right: none;
}