@charset "utf-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* desktop */
@media screen and (min-width: 1024px) {
  .App {
    width: 1020px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

/* tablet, mobile */
@media screen and (max-width: 1023px) {
  .App {
    padding: 0 10px;
  }
}