@charset "utf-8";

.App {
  /* height: 100vh; */
}

/* desktop */
@media screen and (min-width: 1024px) {
  .App {
    width: 1020px;
    padding: 20px;
    margin: 0 auto;
  }
}

/* tablet, mobile */
@media screen and (max-width: 1023px) {
  .App {
    padding: 10px;
  }
}